<div class="content">
  <% 5.times do |i| %>
    <div class="article <%= i.odd? ? 'odd' : 'even' %>">
      <% article = Article.random %>
      <div class="topic">
        <%= article.title %>
        <button>
          remove
        </button>
      </div>

      <br /><br />
        <%= article.body %>
      <br /><br />

    </div>

  <% end %>
    <button>
      Article+
    </button>
</div>

<script>
  $(function(){
    $('.article').each(function(){
      var that = this;
      $(that).children('.topic').children('button').click(function(){
        that.remove();
        var count = 1
        $('.article').each (function(){
          var that = this;
          if (count % 2 == 0) {
            that.attr('class', 'article even')
          }
          else {
            that.attr('class', 'article odd')
          }
          count++
        })
      })
    })
    addArticle = function(){
      console.log('add article called')
    }
  })
</script>


